*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.logosliens
{display: flex;
width: 50px;
height: 50px;
}

footer
{display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(224, 20, 20);
    bottom: 0;
    position: fixed;
    padding: 20px;
    font-family: 'Passion One', cursive;
    align-items: center;
    text-shadow: 3px 3px 4px rgb(0 0 0);
    box-shadow: 3px 12px 23px;
    width: 100%;
   
}

.footer2
{display: flex;
    flex-direction: row;

}

header
{display: flex;
    flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
background-color: rgb(224, 20, 20);
margin: 0px;
padding: 20px;
font-family: 'Passion One', cursive;
align-items:center;
text-shadow: 3px 3px 4px rgb(0 0 0);
box-shadow: 3px 12px 23px;

}

.logorafaelnadal
{display: flex;
justify-content: center;
margin: 37px 259px 3px 238px;
}


p
{font-family: Arial, Helvetica, sans-serif;
 font-size: 1.3rem;
text-align: center;
color: black;
font-family: 'Passion One', cursive;
font-size: 24px;
margin: 46px 0 0 4px;
}

body
{background-color: rgb(255, 230, 0);
}


a
{text-decoration: none;
 font-size: 1.5em; 
 color: rgb(255, 230, 0);
 letter-spacing: 0.1em;

 }
 img{
    height: auto;
    width: 44%;
 }

h1
{font-family: 'Passion One', cursive;
    font-size: 5em;
    letter-spacing: 4px;
    margin:2% 0 0 2%;
}

a:hover {
    opacity: 0.5;
    
}


.media-sociaux {
    display: flex;
    gap: 50px;
  
}

.repere

{color:rgb(224, 20, 20) ;

}


.actualité
{font-family: Arial, Helvetica, sans-serif;
 color: black;
 text-decoration: underline;
 margin: 0px 0px 0px 15px;

}

.lien1
{color: grey;
 font-family: Arial, Helvetica, sans-serif;
 margin: 20px 0px 0px -779px;
 font-size: 18px;   

}

.actualité2
{font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;

}

.lien2
{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0px 0px -465px;

}

.actualité3
{font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;

}

.lien3
{color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0px 0px -473px;

}

.actualité4
{font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;

}

.lien4
{color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0px 0px -416px;

}

.actualité5
{font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;

}

.lien5
{color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0px 0px -474px;

}

.actualité6
{font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;

}

.lien6
{color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0px 0px -531px;

}

.actualité7
{font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 15px;

}

.liens7
{color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0px 0px -501px;

}


.trophées
{height: auto;
 width: 66%;
 margin: 0% 0% 0% 17%; 
}


 .rafavida
{display: flex;
 justify-content: center; 
 height: 609px;  

}